    /*
    Flaticon icon font: Flaticon
    Creation date: 29/01/2018 11:49
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-medical-1:before { content: "\f100"; }
.flaticon-blood-donation:before { content: "\f101"; }
.flaticon-pair-of-molars:before { content: "\f102"; }
.flaticon-medical:before { content: "\f103"; }
.flaticon-sign:before { content: "\f104"; }
.flaticon-healthy-1:before { content: "\f105"; }
.flaticon-radiation:before { content: "\f106"; }
.flaticon-stethoscope:before { content: "\f107"; }
.flaticon-pills:before { content: "\f108"; }
.flaticon-hospital:before { content: "\f109"; }
.flaticon-heart:before { content: "\f10a"; }
.flaticon-ambulance:before { content: "\f10b"; }
.flaticon-healthy:before { content: "\f10c"; }
    
    $font-Flaticon-medical-1: "\f100";
    $font-Flaticon-blood-donation: "\f101";
    $font-Flaticon-pair-of-molars: "\f102";
    $font-Flaticon-medical: "\f103";
    $font-Flaticon-sign: "\f104";
    $font-Flaticon-healthy-1: "\f105";
    $font-Flaticon-radiation: "\f106";
    $font-Flaticon-stethoscope: "\f107";
    $font-Flaticon-pills: "\f108";
    $font-Flaticon-hospital: "\f109";
    $font-Flaticon-heart: "\f10a";
    $font-Flaticon-ambulance: "\f10b";
    $font-Flaticon-healthy: "\f10c";