{% autoescape off %}
    Dear {{ user.username }},
    Thanks for contacting our doctor! Resolving your issues and problems are our top priority..

    Your request has been received and Our doctor'll get back to you within 24 hours.
    If you’d like to add additional comments, please reply to this email.

    Feel free to take a look at our Help Center as we may already have an answer for you there.
    Thanks and have a great day!

    Sincerely,
    SUST Medical Center Team

{% endautoescape %}