<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SUST Medical Center</title>

    {% load staticfiles %}

{#    for welcome page#}
{#      <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
{#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>#}
{#  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
{#    end of welcome page#}

    <link rel="shortcut icon" type="image/png" href="{% static 'cse/images/logo.png' %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'cse/css/animate.css' %}"/>
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" type="text/css" href="{% static 'cse/css/icomoon.css' %}"/>
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="{% static 'cse/css/bootstrap.css' %}"/>
    <!-- Magnific Popup -->
    <link rel="stylesheet" type="text/css" href="{% static 'cse/css/magnific-popup.css' %}"/>
    <!-- Owl Carousel  -->
    <link rel="stylesheet" type="text/css" href="{% static 'cse/css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'cse/css/owl.theme.default.min.css' %}"/>
    <!-- Flexslider  -->
    <link rel="stylesheet" type="text/css" href="{% static 'cse/css/flexslider.css' %}"/>
    <!-- Flaticons  -->
    <link rel="stylesheet" type="text/css" href="{% static 'cse/fonts/flaticon/font/flaticon.css' %}"/>
    <!-- Theme style  -->
    <link rel="stylesheet" type="text/css" href="{% static 'cse/css/style.css' %}"/>

    <!-- Modernizr JS -->
    <script src="{% static 'cse/js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="{% static 'cse/js/respond.min.js' %}"></script>
	<![endif]-->


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="alternate" type="application/json+oembed"
          href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F91035707344454"
          title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed"
          href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F91035707344454"
          title="oEmbed Form">
    <meta property="og:title" content="User Registration Form">
    <meta property="og:url" content="https://form.jotform.me/91035707344454">
    <meta property="og:description" content="Please click the link to complete this form.">
    {#    <link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">#}
    <link rel="canonical" href="https://form.jotform.me/91035707344454"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1"/>
    <meta name="HandheldFriendly" content="true"/>
    {#    <title>User Registration Form</title>#}
    <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.10829" rel="stylesheet" type="text/css"/>
    <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.10829"/>
    <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.10829"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=59fb4852cf3bfe589c6c6f21"/>
    <style type="text/css">
        .form-label-left {
            width: 150px;
        }

        .form-line {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .form-label-right {
            width: 150px;
        }

        body, html {
            margin: 0;
            padding: 0;
            background: #fff;
        }

        .form-all {
            margin: 0px auto;
            padding-top: 0px;
            width: 1200px;
            color: #555 !important;
            font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
            font-size: 14px;
        }

        .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header {
            color: #555;
        }

    </style>

    <style type="text/css" id="form-designer-style">
        /* Injected CSS Code */
        .form-label.form-label-auto {

            display: inline-block;
            float: left;
            text-align: left;

        }

        /*PREFERENCES STYLE*/
        .form-all {
            font-family: Lucida Grande, sans-serif;
        }

        .form-all .qq-upload-button,
        .form-all .form-submit-button,
        .form-all .form-submit-reset,
        .form-all .form-submit-print {
            font-family: Lucida Grande, sans-serif;
        }

        .form-all .form-pagebreak-back-container,
        .form-all .form-pagebreak-next-container {
            font-family: Lucida Grande, sans-serif;
        }

        .form-header-group {
            font-family: Lucida Grande, sans-serif;
        }

        .form-label {
            font-family: Lucida Grande, sans-serif;
        }

        .form-label.form-label-auto {

            display: inline-block;
            float: left;
            text-align: left;

        }

        .form-line {
            margin-top: 12px 36px 12px 36px px;
            margin-bottom: 12px 36px 12px 36px px;
        }

        .form-all {
            width: 1200px;
        }

        .form-label-left,
        .form-label-right,
        .form-label-left.form-label-auto,
        .form-label-right.form-label-auto {
            width: 150px;
        }

        .form-all {
            font-size: 14px
        }

        .form-all .qq-upload-button,
        .form-all .qq-upload-button,
        .form-all .form-submit-button,
        .form-all .form-submit-reset,
        .form-all .form-submit-print {
            font-size: 14px
        }

        .form-all .form-pagebreak-back-container,
        .form-all .form-pagebreak-next-container {
            font-size: 14px
        }

        .supernova .form-all, .form-all {
            background-color: #fff;
            border: 1px solid transparent;
        }

        .form-all {
            color: #555;
        }

        .form-header-group .form-header {
            color: #555;
        }

        .form-header-group .form-subHeader {
            color: #555;
        }

        .form-label-top,
        .form-label-left,
        .form-label-right,
        .form-html,
        .form-checkbox-item label,
        .form-radio-item label {
            color: #555;
        }

        .form-sub-label {
            color: #6f6f6f;
        }

        .supernova {
            background-color: #fff;
        }

        .supernova body {
            background: transparent;
        }

        .form-textbox,
        .form-textarea,
        .form-radio-other-input,
        .form-checkbox-other-input,
        .form-captcha input,
        .form-spinner input {
            background-color: #fff;
        }

        .supernova {
            height: 100%;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: center top;
        }

        .supernova {
            background-image: url("https://www.jotform.com/images/brushed.png");
        }

        #stage {
            background-image: url("https://www.jotform.com/images/brushed.png");
        }

        .form-all {
            background-image: url("//www.jotform.com/images/brushed.png");
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: center top;
        }

        .form-all {
            position: relative;
        }

        .form-all:before {
            content: "";
            background-image: url("https://www.jotform.com/uploads/guest_91036233033040/form_files/logo.5cb3916c84b109.29864752.png");
            display: inline-block;
            height: 140px;
            position: absolute;
            background-size: 129px 140px;
            background-repeat: no-repeat;
            width: 100%;
        }

        .form-all {
            margin-top: 150px !important;
        }

        .form-all:before {
            top: -150px;
            background-position: top center;
        }

        .ie-8 .form-all:before {
            display: none;
        }

        .ie-8 {
            margin-top: auto;
            margin-top: initial;
        }

        /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/
        /* Injected CSS Code */
    </style>

    <link type="text/css" rel="stylesheet"
          href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_black.css?3.3.10829"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_green.css?3.3.10829"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdn.jotfor.ms/css/styles/buttons/form-submit-button-simple_red.css?3.3.10829"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.min.js"></script>
    <script src="https://cdn.jotfor.ms/js/vendor/imageinfo.js?v=3.3.10829" type="text/javascript"></script>
    <script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
    <script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.10829" type="text/javascript"></script>
    <script type="text/javascript">
        JotForm.init(function () {
            setTimeout(function () {
                $('input_34').hint('BIJOY_SUST');
            }, 20);
            setTimeout(function () {
                $('input_6').hint('ex: myname@example.com');
            }, 20);
            setTimeout(function () {
                $('input_31').hint('2016331012');
            }, 20);
            JotForm.description('input_32', 'For Teacher:- Associate Professor, Dept. of CSE<br />For Stuff:-  Administrative Officer');
            /*INIT-END*/
        });

        JotForm.prepareCalculationsOnTheFly([null, {
            "name": "userRegistration",
            "qid": "1",
            "text": "User Registration Form",
            "type": "control_head"
        }, null, {"name": "gender", "qid": "3", "text": "Gender", "type": "control_dropdown"}, {
            "name": "fullName",
            "qid": "4",
            "text": "Full Name",
            "type": "control_fullname"
        }, null, {
            "name": "userEmail",
            "qid": "6",
            "text": "User E-mail",
            "type": "control_email"
        }, null, null, null, null, null, null, null, null, null, null, null, null, {
            "name": "submit",
            "qid": "19",
            "text": "Clear Fields",
            "type": "control_button"
        }, {
            "name": "register",
            "qid": "20",
            "text": "Register",
            "type": "control_button"
        }, null, null, null, {
            "name": "birthDate24",
            "qid": "24",
            "text": "Birth Date",
            "type": "control_birthdate"
        }, {
            "name": "phoneNumber25",
            "qid": "25",
            "text": "Phone Number",
            "type": "control_phone"
        }, null, {
            "name": "mobileNumber",
            "qid": "27",
            "text": "Mobile Number",
            "type": "control_phone"
        }, {
            "description": "",
            "name": "bloodGroup",
            "qid": "28",
            "subLabel": "",
            "text": "Blood Group",
            "type": "control_dropdown"
        }, {
            "description": "",
            "name": "userPhotos",
            "qid": "29",
            "subLabel": "Max Size 1 MB",
            "text": "User Photos",
            "type": "control_fileupload"
        }, {
            "description": "",
            "name": "age",
            "qid": "30",
            "subLabel": "",
            "text": "Age",
            "type": "control_textbox"
        }, {
            "description": "",
            "name": "registrationNumb",
            "qid": "31",
            "subLabel": "If you are a student, you must give the registration number",
            "text": "Registration Number",
            "type": "control_textbox"
        }, {
            "description": "For Teacher:- Associate Professor, Dept. of CSE\nFor Stuff:-  Administrative Officer",
            "name": "position",
            "qid": "32",
            "subLabel": "For Teacher or Stuff Only",
            "text": "Designation",
            "type": "control_textarea"
        }, {
            "description": "",
            "name": "userType",
            "qid": "33",
            "subLabel": "",
            "text": "User Type",
            "type": "control_dropdown"
        }, {
            "description": "",
            "name": "userName",
            "qid": "34",
            "subLabel": "You can access the web site using this username",
            "text": "User Name",
            "type": "control_textbox"
        }, {
            "name": "backTo",
            "qid": "35",
            "text": "Back  To The Previous Page",
            "type": "control_button"
        }, {
            "description": "",
            "name": "address36",
            "qid": "36",
            "subLabel": "Street Address, City, State \u002F Province, Postal \u002F Zip Code",
            "text": "Address",
            "type": "control_textarea"
        }, {
            "description": "",
            "name": "password",
            "qid": "37",
            "subLabel": "",
            "text": "Password",
            "type": "control_textbox"
        }, {
            "description": "",
            "name": "department",
            "qid": "38",
            "subLabel": "If you are a student, you must give the registration number",
            "text": "Department",
            "type": "control_dropdown"
        }]);
        setTimeout(function () {
            JotForm.paymentExtrasOnTheFly([null, {
                "name": "userRegistration",
                "qid": "1",
                "text": "User Registration Form",
                "type": "control_head"
            }, null, {"name": "gender", "qid": "3", "text": "Gender", "type": "control_dropdown"}, {
                "name": "fullName",
                "qid": "4",
                "text": "Full Name",
                "type": "control_fullname"
            }, null, {
                "name": "userEmail",
                "qid": "6",
                "text": "User E-mail",
                "type": "control_email"
            }, null, null, null, null, null, null, null, null, null, null, null, null, {
                "name": "submit",
                "qid": "19",
                "text": "Clear Fields",
                "type": "control_button"
            }, {
                "name": "register",
                "qid": "20",
                "text": "Register",
                "type": "control_button"
            }, null, null, null, {
                "name": "birthDate24",
                "qid": "24",
                "text": "Birth Date",
                "type": "control_birthdate"
            }, {
                "name": "phoneNumber25",
                "qid": "25",
                "text": "Phone Number",
                "type": "control_phone"
            }, null, {
                "name": "mobileNumber",
                "qid": "27",
                "text": "Mobile Number",
                "type": "control_phone"
            }, {
                "description": "",
                "name": "bloodGroup",
                "qid": "28",
                "subLabel": "",
                "text": "Blood Group",
                "type": "control_dropdown"
            }, {
                "description": "",
                "name": "userPhotos",
                "qid": "29",
                "subLabel": "Max Size 1 MB",
                "text": "User Photos",
                "type": "control_fileupload"
            }, {
                "description": "",
                "name": "age",
                "qid": "30",
                "subLabel": "",
                "text": "Age",
                "type": "control_textbox"
            }, {
                "description": "",
                "name": "registrationNumb",
                "qid": "31",
                "subLabel": "If you are a student, you must give the registration number",
                "text": "Registration Number",
                "type": "control_textbox"
            }, {
                "description": "For Teacher:- Associate Professor, Dept. of CSE\nFor Stuff:-  Administrative Officer",
                "name": "position",
                "qid": "32",
                "subLabel": "For Teacher or Stuff Only",
                "text": "Designation",
                "type": "control_textarea"
            }, {
                "description": "",
                "name": "userType",
                "qid": "33",
                "subLabel": "",
                "text": "User Type",
                "type": "control_dropdown"
            }, {
                "description": "",
                "name": "userName",
                "qid": "34",
                "subLabel": "You can access the web site using this username",
                "text": "User Name",
                "type": "control_textbox"
            }, {
                "name": "backTo",
                "qid": "35",
                "text": "Back  To The Previous Page",
                "type": "control_button"
            }, {
                "description": "",
                "name": "address36",
                "qid": "36",
                "subLabel": "Street Address, City, State \u002F Province, Postal \u002F Zip Code",
                "text": "Address",
                "type": "control_textarea"
            }, {
                "description": "",
                "name": "password",
                "qid": "37",
                "subLabel": "",
                "text": "Password",
                "type": "control_textbox"
            }, {
                "description": "",
                "name": "department",
                "qid": "38",
                "subLabel": "If you are a student, you must give the registration number",
                "text": "Department",
                "type": "control_dropdown"
            }]);
        }, 20);
    </script>
</head>
<body>
<form class="jotform-form" action="https://submit.jotform.me/submit/91035707344454/" method="post"
      enctype="multipart/form-data" name="form_91035707344454" id="91035707344454" accept-charset="utf-8">
    <input type="hidden" name="formID" value="91035707344454"/>

    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="top">
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="colorlib-logo"><a href="{% url 'cse:index' %}"><i
                                            class="flaticon-stethoscope"></i>SUST <span>Medical Center</span></a></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="num">
                                        <span class="icon"><i class="icon-phone"></i></span>
                                        <p><a href="#">Call us : 880-821-713491</a><br><a href="#">714479</a></p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="loc">
                                        <span class="icon"><i class="icon-location"></i></span>
                                        <p><a href="https://www.google.com/maps/place/Shahjalal+University+of+Science+and+Technology
										/@24.917476,91.831874,17z/data=!4m12!1m6!3m5!1s0x0:0xe277e14dbca9f2ab!2sShahjalal+University+of+
										Science+and+Technology!8m2!3d24.9172232!4d91.8319132!3m4!1s0x0:0xe277e14dbca9f2ab!8m2!3d24.9172232!
										4d91.8319132?hl=en-GB">Location : University Ave, Sylhet 3114</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="menu-1">
                                <ul>
                                    <li class="active"><a href="{% url 'cse:staring' %}">Home</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">About Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <p class="btn-cta">
                                <a href="{% url 'cse:login' %}"><span>   Login   <i class="glyphicon-log-in"></i></span></a>
                                <a href="{% url 'cse:staring' %}"><span>  Register <i class="glyphicon-registration-mark"></i></span></a>
                            </p>


                        </div>
                        {#                        <div class="col-md-3">#}
                        {#							<p class="btn-cta"><a href="#"><span>Register <i class="glyphicon-registration-mark"></i></span></a></p>#}
                        {##}
                        {#						</div>#}

                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div role="main" class="form-all">
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group ">
                    <div class="header-text httac htvam">
                        <h1 id="header_1" class="form-header" data-component="header">
                            User Registration Form
                        </h1>
                        <div id="subHeader_1" class="form-subHeader">
                            Fill out the form carefully for registration
                        </div>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_fullname" id="id_4" data-compound-hint=",,">
                <label class="form-label form-label-left form-label-auto" id="label_4" for="first_4">
                    Full Name
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_4" class="form-input jf-required">
                    <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="text" id="first_4" name="q4_fullName[first]" class="form-textbox validate[required]"
                     size="10" value="" data-component="first" required=""/>
              <label class="form-sub-label" for="first_4" id="sublabel_first"
                     style="min-height:13px"> First Name </label>
            </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
              <input type="text" id="middle_4" name="q4_fullName[middle]" class="form-textbox" size="10" value=""
                     data-component="middle" required=""/>
              <label class="form-sub-label" for="middle_4" id="sublabel_middle"
                     style="min-height:13px"> Middle Name </label>
            </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
              <input type="text" id="last_4" name="q4_fullName[last]" class="form-textbox validate[required]" size="15"
                     value="" data-component="last" required=""/>
              <label class="form-sub-label" for="last_4" id="sublabel_last" style="min-height:13px"> Last Name </label>
            </span>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_textbox" id="id_34">
                <label class="form-label form-label-left form-label-auto" id="label_34" for="input_34">
                    User Name
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_34" class="form-input jf-required">
          <span class="form-sub-label-container" style="vertical-align:top">
            <input type="text" id="input_34" name="q34_userName" data-type="input-textbox"
                   class="form-textbox validate[required]" size="20" value="" placeholder="BIJOY_SUST"
                   data-component="textbox" required=""/>
            <label class="form-sub-label" for="input_34" style="min-height:13px"> You can access the web site using this username </label>
          </span>
                </div>
            </li>
            <li class="form-line form-line-column form-col-1 jf-required" data-type="control_birthdate" id="id_24">
                <label class="form-label form-label-left" id="label_24" for="input_24">
                    Birth Date
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_24" class="form-input jf-required">
                    <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top">
              <select name="q24_birthDate24[month]" id="input_24_month" class="form-dropdown validate[required]"
                      data-component="birthdate-month">
                <option>  </option>
                <option value="January"> January </option>
                <option value="February"> February </option>
                <option value="March"> March </option>
                <option value="April"> April </option>
                <option value="May"> May </option>
                <option value="June"> June </option>
                <option value="July"> July </option>
                <option value="August"> August </option>
                <option value="September"> September </option>
                <option value="October"> October </option>
                <option value="November"> November </option>
                <option value="December"> December </option>
              </select>
              <label class="form-sub-label" for="input_24_month" id="sublabel_month"
                     style="min-height:13px"> Month </label>
            </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
              <select name="q24_birthDate24[day]" id="input_24_day" class="form-dropdown validate[required]"
                      data-component="birthdate-day">
                <option>  </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
                <option value="6"> 6 </option>
                <option value="7"> 7 </option>
                <option value="8"> 8 </option>
                <option value="9"> 9 </option>
                <option value="10"> 10 </option>
                <option value="11"> 11 </option>
                <option value="12"> 12 </option>
                <option value="13"> 13 </option>
                <option value="14"> 14 </option>
                <option value="15"> 15 </option>
                <option value="16"> 16 </option>
                <option value="17"> 17 </option>
                <option value="18"> 18 </option>
                <option value="19"> 19 </option>
                <option value="20"> 20 </option>
                <option value="21"> 21 </option>
                <option value="22"> 22 </option>
                <option value="23"> 23 </option>
                <option value="24"> 24 </option>
                <option value="25"> 25 </option>
                <option value="26"> 26 </option>
                <option value="27"> 27 </option>
                <option value="28"> 28 </option>
                <option value="29"> 29 </option>
                <option value="30"> 30 </option>
                <option value="31"> 31 </option>
              </select>
              <label class="form-sub-label" for="input_24_day" id="sublabel_day" style="min-height:13px"> Day </label>
            </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
              <select name="q24_birthDate24[year]" id="input_24_year" class="form-dropdown validate[required]"
                      data-component="birthdate-year">
                <option>  </option>
                <option value="2019"> 2019 </option>
                <option value="2018"> 2018 </option>
                <option value="2017"> 2017 </option>
                <option value="2016"> 2016 </option>
                <option value="2015"> 2015 </option>
                <option value="2014"> 2014 </option>
                <option value="2013"> 2013 </option>
                <option value="2012"> 2012 </option>
                <option value="2011"> 2011 </option>
                <option value="2010"> 2010 </option>
                <option value="2009"> 2009 </option>
                <option value="2008"> 2008 </option>
                <option value="2007"> 2007 </option>
                <option value="2006"> 2006 </option>
                <option value="2005"> 2005 </option>
                <option value="2004"> 2004 </option>
                <option value="2003"> 2003 </option>
                <option value="2002"> 2002 </option>
                <option value="2001"> 2001 </option>
                <option value="2000"> 2000 </option>
                <option value="1999"> 1999 </option>
                <option value="1998"> 1998 </option>
                <option value="1997"> 1997 </option>
                <option value="1996"> 1996 </option>
                <option value="1995"> 1995 </option>
                <option value="1994"> 1994 </option>
                <option value="1993"> 1993 </option>
                <option value="1992"> 1992 </option>
                <option value="1991"> 1991 </option>
                <option value="1990"> 1990 </option>
                <option value="1989"> 1989 </option>
                <option value="1988"> 1988 </option>
                <option value="1987"> 1987 </option>
                <option value="1986"> 1986 </option>
                <option value="1985"> 1985 </option>
                <option value="1984"> 1984 </option>
                <option value="1983"> 1983 </option>
                <option value="1982"> 1982 </option>
                <option value="1981"> 1981 </option>
                <option value="1980"> 1980 </option>
                <option value="1979"> 1979 </option>
                <option value="1978"> 1978 </option>
                <option value="1977"> 1977 </option>
                <option value="1976"> 1976 </option>
                <option value="1975"> 1975 </option>
                <option value="1974"> 1974 </option>
                <option value="1973"> 1973 </option>
                <option value="1972"> 1972 </option>
                <option value="1971"> 1971 </option>
                <option value="1970"> 1970 </option>
                <option value="1969"> 1969 </option>
                <option value="1968"> 1968 </option>
                <option value="1967"> 1967 </option>
                <option value="1966"> 1966 </option>
                <option value="1965"> 1965 </option>
                <option value="1964"> 1964 </option>
                <option value="1963"> 1963 </option>
                <option value="1962"> 1962 </option>
                <option value="1961"> 1961 </option>
                <option value="1960"> 1960 </option>
                <option value="1959"> 1959 </option>
                <option value="1958"> 1958 </option>
                <option value="1957"> 1957 </option>
                <option value="1956"> 1956 </option>
                <option value="1955"> 1955 </option>
                <option value="1954"> 1954 </option>
                <option value="1953"> 1953 </option>
                <option value="1952"> 1952 </option>
                <option value="1951"> 1951 </option>
                <option value="1950"> 1950 </option>
                <option value="1949"> 1949 </option>
                <option value="1948"> 1948 </option>
                <option value="1947"> 1947 </option>
                <option value="1946"> 1946 </option>
                <option value="1945"> 1945 </option>
                <option value="1944"> 1944 </option>
                <option value="1943"> 1943 </option>
                <option value="1942"> 1942 </option>
                <option value="1941"> 1941 </option>
                <option value="1940"> 1940 </option>
                <option value="1939"> 1939 </option>
                <option value="1938"> 1938 </option>
                <option value="1937"> 1937 </option>
                <option value="1936"> 1936 </option>
                <option value="1935"> 1935 </option>
                <option value="1934"> 1934 </option>
                <option value="1933"> 1933 </option>
                <option value="1932"> 1932 </option>
                <option value="1931"> 1931 </option>
                <option value="1930"> 1930 </option>
                <option value="1929"> 1929 </option>
                <option value="1928"> 1928 </option>
                <option value="1927"> 1927 </option>
                <option value="1926"> 1926 </option>
                <option value="1925"> 1925 </option>
                <option value="1924"> 1924 </option>
                <option value="1923"> 1923 </option>
                <option value="1922"> 1922 </option>
                <option value="1921"> 1921 </option>
                <option value="1920"> 1920 </option>
              </select>
              <label class="form-sub-label" for="input_24_year" id="sublabel_year"
                     style="min-height:13px"> Year </label>
            </span>
                    </div>
                </div>
            </li>
            <li class="form-line form-line-column form-col-2 jf-required" data-type="control_dropdown" id="id_3">
                <label class="form-label form-label-left" id="label_3" for="input_3">
                    Gender
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_3" class="form-input jf-required">
                    <select class="form-dropdown validate[required]" id="input_3" name="q3_gender" style="width:150px"
                            data-component="dropdown" required="">
                        <option value=""></option>
                        <option value="Male"> Male</option>
                        <option value="Female"> Female</option>
                        <option value="N/A"> N/A</option>
                    </select>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_textbox" id="id_30">
                <label class="form-label form-label-left form-label-auto" id="label_30" for="input_30">
                    Age
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_30" class="form-input jf-required">
                    <input type="text" id="input_30" name="q30_age" data-type="input-textbox"
                           class="form-textbox validate[required, Numeric]" size="10" value="" data-component="textbox"
                           required=""/>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_textarea" id="id_36">
                <label class="form-label form-label-left form-label-auto" id="label_36" for="input_36">
                    Address
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_36" class="form-input jf-required">
          <span class="form-sub-label-container" style="vertical-align:top">
            <textarea id="input_36" class="form-textarea validate[required]" name="q36_address36" cols="40" rows="6"
                      data-component="textarea" required=""></textarea>
            <label class="form-sub-label" for="input_36" style="min-height:13px"> Street Address, City, State / Province, Postal / Zip Code </label>
          </span>
                </div>
            </li>
            <li class="form-line form-line-column form-col-1 jf-required" data-type="control_phone" id="id_27"
                data-compound-hint=",">
                <label class="form-label form-label-left" id="label_27" for="input_27_area">
                    Mobile Number
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_27" class="form-input jf-required">
                    <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="tel" id="input_27_area" name="q27_mobileNumber[area]" class="form-textbox validate[required]"
                     size="6" value="" data-component="areaCode" required=""/>
              <span class="phone-separate">
                 -
              </span>
              <label class="form-sub-label" for="input_27_area" id="sublabel_area"
                     style="min-height:13px"> Area Code </label>
            </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
              <input type="tel" id="input_27_phone" name="q27_mobileNumber[phone]"
                     class="form-textbox validate[required]" size="12" value="" data-component="phone" required=""/>
              <label class="form-sub-label" for="input_27_phone" id="sublabel_phone" style="min-height:13px"> Phone Number </label>
            </span>
                    </div>
                </div>
            </li>
            <li class="form-line form-line-column form-col-2" data-type="control_phone" id="id_25">
                <label class="form-label form-label-left" id="label_25" for="input_25_area"> Phone Number </label>
                <div id="cid_25" class="form-input">
                    <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="tel" id="input_25_area" name="q25_phoneNumber25[area]" class="form-textbox" size="6" value=""
                     data-component="areaCode"/>
              <span class="phone-separate">
                 -
              </span>
              <label class="form-sub-label" for="input_25_area" id="sublabel_area"
                     style="min-height:13px"> Area Code </label>
            </span>
                        <span class="form-sub-label-container" style="vertical-align:top">
              <input type="tel" id="input_25_phone" name="q25_phoneNumber25[phone]" class="form-textbox" size="12"
                     value="" data-component="phone"/>
              <label class="form-sub-label" for="input_25_phone" id="sublabel_phone" style="min-height:13px"> Phone Number </label>
            </span>
                    </div>
                </div>
            </li>
            <li class="form-line form-line-column form-col-3 jf-required" data-type="control_email" id="id_6">
                <label class="form-label form-label-left" id="label_6" for="input_6">
                    User E-mail
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_6" class="form-input jf-required">
                    <input type="email" id="input_6" name="q6_userEmail" class="form-textbox validate[required, Email]"
                           size="30" value="" placeholder="ex: myname@example.com" data-component="email" required=""/>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_dropdown" id="id_33">
                <label class="form-label form-label-left form-label-auto" id="label_33" for="input_33">
                    User Type
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_33" class="form-input jf-required">
                    <select class="form-dropdown validate[required]" id="input_33" name="q33_userType"
                            style="width:150px" data-component="dropdown" required="">
                        <option value=""></option>
                        <option value="Student"> Student</option>
                        <option value="Teacher"> Teacher</option>
                        <option value="Stuff"> Stuff</option>
                        <option value="Admin"> Admin </option>

                    </select>
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_31">
                <label class="form-label form-label-left form-label-auto" id="label_31" for="input_31"> Registration
                    Number </label>
                <div id="cid_31" class="form-input">
          <span class="form-sub-label-container" style="vertical-align:top">
            <input type="text" id="input_31" name="q31_registrationNumb" data-type="input-textbox"
                   class="form-textbox validate[Fill Mask]" size="25" value="" placeholder="2016331012"
                   data-component="textbox"/>
            <label class="form-sub-label" for="input_31" style="min-height:13px"> If you are a student, you must give the registration number. </label>
          </span>
                </div>
            </li>
            <li class="form-line" data-type="control_dropdown" id="id_38">
                <label class="form-label form-label-left form-label-auto" id="label_38" for="input_38">
                    Department </label>
                <div id="cid_38" class="form-input">
          <span class="form-sub-label-container" style="vertical-align:top">
            <select class="form-dropdown" id="input_38" name="q38_department" style="width:500px"
                    data-component="dropdown">
              <option value="">  </option>
              <option value="Department of Forestry And Environmental Science"> Department of Forestry And Environmental Science </option>
              <option value="Department of Architecture (ARC)"> Department of Architecture (ARC) </option>
              <option value="Department of Chemical Engineering &amp; Polymer Science (CEP)"> Department of Chemical Engineering &amp; Polymer Science (CEP) </option>
              <option value="Department of Civil &amp; Environmental Engineering (CEE)"> Department of Civil &amp; Environmental Engineering (CEE) </option>
              <option value="Department of Computer Science &amp; Engineering (CSE)"> Department of Computer Science &amp; Engineering (CSE) </option>
              <option value="Department of Electrical &amp; Electronic Engineering (EEE)"> Department of Electrical &amp; Electronic Engineering (EEE) </option>
              <option value="Department of Food Engineering &amp; Tea Technology (FET)"> Department of Food Engineering &amp; Tea Technology (FET) </option>
              <option value="Department of Industrial &amp; Production Engineering (IPE)"> Department of Industrial &amp; Production Engineering (IPE) </option>
              <option value="Department of Mechanical Engineering (MEE)"> Department of Mechanical Engineering (MEE) </option>
              <option value="Department of Petroleum &amp; Mining Engineering (PME)"> Department of Petroleum &amp; Mining Engineering (PME) </option>
              <option value="Department of Software Engineering (SWE)"> Department of Software Engineering (SWE) </option>
              <option value="Department of Bio-Chemistry and Molecular Biology (BMB)"> Department of Bio-Chemistry and Molecular Biology (BMB) </option>
              <option value="Department of Genetic Engineering and Biotechnology (GEB)"> Department of Genetic Engineering and Biotechnology (GEB) </option>
              <option value="Department of Business Administration, SUST"> Department of Business Administration, SUST </option>
              <option value="Department of Chemistry (CHE)"> Department of Chemistry (CHE) </option>
              <option value="Department of Geography and Environment (GEE)"> Department of Geography and Environment (GEE) </option>
              <option value="Department of Mathematics (MAT)"> Department of Mathematics (MAT) </option>
              <option value="Department of Physics (PHY)"> Department of Physics (PHY) </option>
              <option value="Department of Statistics (STA)"> Department of Statistics (STA) </option>
              <option value="Department of Oceanography (OCG)"> Department of Oceanography (OCG) </option>
              <option value="Department of Anthropology (ANP)"> Department of Anthropology (ANP) </option>
              <option value="Department of Bangla (BNG)"> Department of Bangla (BNG) </option>
              <option value="Department of Economics (ECO)"> Department of Economics (ECO) </option>
              <option value="Department of English (ENG)"> Department of English (ENG) </option>
              <option value="Department of Political Studies (PSS)"> Department of Political Studies (PSS) </option>
              <option value="Department of Public Administration (PAD)"> Department of Public Administration (PAD) </option>
              <option value="Department of Social work (SCW)"> Department of Social work (SCW) </option>
              <option value="Department of Sociology (SOC)"> Department of Sociology (SOC) </option>
            </select>
            <label class="form-sub-label" for="input_38" style="min-height:13px"> If you are a student or teacher, you must select a department. </label>
          </span>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_32">
                <label class="form-label form-label-left form-label-auto" id="label_32" for="input_32">
                    Designation </label>
                <div id="cid_32" class="form-input">
          <span class="form-sub-label-container" style="vertical-align:top">
            <textarea id="input_32" class="form-textarea" name="q32_position" cols="40" rows="6"
                      data-component="textarea"></textarea>
            <label class="form-sub-label" for="input_32" style="min-height:13px"> For Teacher or Stuff Only<br>If you are a stuff or teacher, your designation must be given. </label>
          </span>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_dropdown" id="id_28">
                <label class="form-label form-label-left form-label-auto" id="label_28" for="input_28">
                    Blood Group
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_28" class="form-input jf-required">
                    <select class="form-dropdown validate[required]" id="input_28" name="q28_bloodGroup"
                            style="width:150px" data-component="dropdown" required="">
                        <option value=""></option>
                        <option value="A+	"> A+</option>
                        <option value="O+	"> O+</option>
                        <option value="B+"> B+</option>
                        <option value="AB+	"> AB+</option>
                        <option value="A-	"> A-</option>
                        <option value="O-	"> O-</option>
                        <option value="B-	"> B-</option>
                        <option value="AB-"> AB-</option>
                    </select>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_textbox" id="id_37">
                <label class="form-label form-label-left" id="label_37" for="input_37">
                    Password
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_37" class="form-input jf-required">
                    <input type="text" id="input_37" name="q37_password" data-type="input-textbox"
                           class="form-textbox validate[required]" size="50" value="" maxLength="10"
                           data-component="textbox" required=""/>
                </div>
            </li>
            <li class="form-line jf-required" data-type="control_fileupload" id="id_29">
                <label class="form-label form-label-left" id="label_29" for="input_29">
                    User Photos
                    <span class="form-required">
            *
          </span>
                </label>
                <div id="cid_29" class="form-input jf-required">
          <span class="form-sub-label-container" style="vertical-align:top">
            <input type="file" id="input_29" name="q29_userPhotos" class="form-upload validate[required]"
                   data-imagevalidate="yes"
                   data-file-accept="pdf, doc, docx, xls, xlsx, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif"
                   data-file-maxsize="1024" data-file-minsize="100" data-file-limit="" data-component="fileupload"
                   required=""/>
            <label class="form-sub-label" for="input_29" style="min-height:13px"> Max Size 1 MB </label>
          </span>
                </div>
            </li>
            <li class="form-line form-line-column form-col-1" data-type="control_button" id="id_19">
                <div id="cid_19" class="form-input-wide">
                    <div style="margin-left:156px" class="form-buttons-wrapper">
                        <button id="input_19" type="submit" class="form-submit-button form-submit-button-simple_black"
                                data-component="button">
                            Clear Fields
                        </button>
                    </div>
                </div>
            </li>
            <li class="form-line form-line-column form-col-2" data-type="control_button" id="id_20">
                <div id="cid_20" class="form-input-wide">
                    <div style="margin-left:156px" class="form-buttons-wrapper">
                        <button id="input_20" type="submit" class="form-submit-button form-submit-button-simple_green"
                                data-component="button">
                            Register
                        </button>
                    </div>
                </div>
            </li>
            <li class="form-line" data-type="control_button" id="id_35">
                <div id="cid_35" class="form-input-wide">
                    <div style="margin-left:156px" class="form-buttons-wrapper">
                        <button id="input_35" type="submit" class="form-submit-button form-submit-button-simple_black"
                                data-component="button">
                            <a href="{% url 'cse:staring' %}">Back To The Previous Page</a>
                        </button>
                    </div>
                </div>
            </li>
            <li style="clear:both">
            </li>
            <li style="display:none">
                Should be Empty:
                <input type="text" name="website" value=""/>
            </li>
        </ul>
    </div>
{#    <script>#}
{#        JotForm.showJotFormPowered = "new_footer";#}
{#    </script>#}
{#    <input type="hidden" id="simple_spc" name="simple_spc" value="91035707344454"/>#}
{#    <script type="text/javascript">#}
{#        document.getElementById("si" + "mple" + "_spc").value = "91035707344454-91035707344454";#}
{#    </script>#}
{#    <div class="formFooter-heightMask">#}
{#    </div>#}
{#    <div class="formFooter f6">#}
{#        <a href="https://www.jotform.com/pricing?utm_source=formfooter&utm_medium=banner&utm_term=91035707344454&utm_content=jotform_logo&utm_campaign=powered_by_jotform_le"#}
{#           target="_blank" class="formFooter-logoLink"><img class="formFooter-logo"#}
{#                                                            src="https://cdn.jotfor.ms/assets/img/logo/logo-new@1x.png"#}
{#                                                            alt="" style="height: 44px;"></a>#}
{#        <div class="formFooter-rightSide">#}
{#      <span class="formFooter-text">#}
{#        Now create your own JotForm - It's free!#}
{#      </span>#}
{#            <a class="formFooter-button"#}
{#               href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=91035707344454&utm_content=jotform_button&utm_campaign=powered_by_jotform_le"#}
{#               target="_blank">Create your own JotForm</a>#}
{#        </div>#}
{#    </div>#}
</form>
</body>
</html>
