<!DOCTYPE html>
<html>

<head>
<title>W3.CSS</title>
    {% load staticfiles %}

</head>

<body>


        <div>
            <img class="mySlides" src="{% static 'cse/images/medi.png' %}"  style="width:100%">
            <img class="mySlides" src="{% static 'cse/images/medical.jpg' %}"  style="width:100%">
            <img class="mySlides" src="{% static 'cse/images/SUST.jpg' %}"  style="width:100%">
            <img class="mySlides" src="{% static 'cse/images/DSC_0010.jpg' %}"  style="width:100%">
        </div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

</body>
</html>
