
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}